# Data Cleansing CSV

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CO2 Emission Country.csv')

In [3]:
df.head()

,Location,% of global total,Fossil emissions 2023,Fossil emissions 2000,% change from 2000
0,China,34.0%,"13,259.64","3,666.95",+262%
1,United States,12.0%,"4,682.04","5,928.97",−21%
2,India,7.6%,"2,955.18",995.65,+197%
3,European Union,6.4%,"2,512.07","3,563.26",−30%
4,Russia,5.3%,"2,069.50","1,681.14",+23%

In [4]:
df.describe()

,Location,% of global total,Fossil emissions 2023,Fossil emissions 2000,% change from 2000
count,211,211,211,211,211
unique,211,47,201,194,156
top,China,0.02%,0.10,0.06,−33%
freq,1,24,3,4,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               211 non-null    object
 1   % of global total      211 non-null    object
 2   Fossil emissions 2023  211 non-null    object
 3   Fossil emissions 2000  211 non-null    object
 4   % change from 2000     211 non-null    object
dtypes: object(5)
memory usage: 8.4+ KB

# Remove % string from [% of global total]

In [6]:
df['% of global total'] = df['% of global total'].str.replace('%', '', regex=False)

In [7]:
df['% of global total'].head()

0    34.0
1    12.0
2     7.6
3     6.4
4     5.3
Name: % of global total, dtype: object

# Convert object to numeric [% of global total]

In [8]:
df['% of global total'] = pd.to_numeric(df['% of global total'], errors='raise')

In [9]:
df['% of global total'].head()

0    34.0
1    12.0
2     7.6
3     6.4
4     5.3
Name: % of global total, dtype: float64

# Remove string ',' from [Fossil Emissin 2023]

In [10]:
df['Fossil emissions 2023'] = df['Fossil emissions 2023'].str.replace(',', '', regex=False)

# Conver object to numeric [Fossil emission 2023]

In [11]:
df['Fossil emissions 2023'] = pd.to_numeric(df['Fossil emissions 2023'], errors='raise')

In [12]:
df['Fossil emissions 2023'].head()

0    13259.64
1     4682.04
2     2955.18
3     2512.07
4     2069.50
Name: Fossil emissions 2023, dtype: float64

# Remove ',' & 'no' string from [Fossil emissions 2000]

In [13]:
df['Fossil emissions 2000'] = df['Fossil emissions 2000'].str.replace(',', '', regex=False)

In [14]:
df['Fossil emissions 2000'] = df['Fossil emissions 2000'].str.replace('no', '', regex=False)

# Convert to numeric [Fossil emisions 2000]

In [15]:
df['Fossil emissions 2000'] = pd.to_numeric(df['Fossil emissions 2000'], errors='raise')

In [16]:
df['Fossil emissions 2000'].head()

0    3666.95
1    5928.97
2     995.65
3    3563.26
4    1681.14
Name: Fossil emissions 2000, dtype: float64

# Remove '%' '+' string from [% change from 2000]

In [17]:
df['% change from 2000'] = df['% change from 2000'].str.replace('%', '', regex=False)

In [18]:
df['% change from 2000'] = df['% change from 2000'].str.replace('+', '', regex=False)

In [19]:
df['% change from 2000'] = df['% change from 2000'].str.replace("−", "-")

# Remove ',' & 'change' from [% change from 2000]

In [20]:
df['% change from 2000'] = df['% change from 2000'].str.replace(',', '', regex=False)

In [21]:
df['% change from 2000'] = df['% change from 2000'].str.replace('change', '', regex=False)

# Convert objrct to numeric [% change from 2000]

In [22]:
df['% change from 2000'] = pd.to_numeric(df['% change from 2000'], errors='raise')

In [23]:
df['% change from 2000'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 211 entries, 0 to 210
Series name: % change from 2000
Non-Null Count  Dtype
--------------  -----
210 non-null    float64
dtypes: float64(1)
memory usage: 1.8 KB

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               211 non-null    object
 1   % of global total      211 non-null    float64
 2   Fossil emissions 2023  211 non-null    float64
 3   Fossil emissions 2000  210 non-null    float64
 4   % change from 2000     210 non-null    float64
dtypes: float64(4), object(1)
memory usage: 8.4+ KB

# Converting pandas to CSv

In [25]:
df.to_csv('New CO2 Emissions.csv', index=False)